# Code owners for almacareer/twigx-bundle
# https://help.github.com/en/articles/about-code-owners

* @alma-oss/twig-ui

# Package owners

* radek.hrebecek@almacareer.com lubomir.mihalik@almacareer.com
